# This file contains pin mappings for the stock Sovol SV06.
# 
# Find installation instructions at https://github.com/bassamanator/Sovol-SV06-firmware
# 
# See https://www.klipper3d.org/Config_Reference.html for configuration reference.

[include ./osskc.cfg]

[mcu]
# NOTE Obtain definition by "ls -l /dev/serial/by-path/" or "ls -l /dev/serial/by-id/"
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.2:1.0-port0
#serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.1:1.0-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 11000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 8.0

#####################################################################
#      X/Y/Z Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 128
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 223 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC1
run_current: 0.900
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA5

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 128
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 223 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC0
run_current: 1.000
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA6

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 128
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 258 # NOTE You can adjust this if you have more room
homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PA15
run_current: 1.000
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
diag_pin: PA7

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 128
rotation_distance: 4.65 # NOTE Calibrate e-steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders, https://github.com/bassamanator/everything-sovol-sv06/blob/main/howto.md#calibrate-esteps
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 300
max_extrude_only_distance: 150.0
max_extrude_cross_section: 5 # NOTE Needed for KAMP purge
pressure_advance: 0.0435 # 0.0465 # 0.044

[tmc2209 extruder]
uart_pin: PC14
run_current: 0.550
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 110

#####################################################################
#   Probe Related
#####################################################################

[probe]
pin: PB1
x_offset: 27
y_offset: -20
# z_offset: 0
samples: 3
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 5

[safe_z_home]
home_xy_position: 84.50, 135 # NOTE The probe is at the center of the bed.
speed: 100.0
z_hop: 10
z_hop_speed: 15

[bed_mesh]
speed: 175
mesh_min: 27, 6 # probe as close to origin as possible while remaining fully on the bed
mesh_max: 222, 203 # (x.position_max - 1), (y.position_max - abs(y_offset)) ; probe as far as possible from the origin while remaining fully on the bed
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[axis_twist_compensation]
calibrate_start_x: 27 # probe x coor at furthest left ; abs(x_offset)
calibrate_end_x: 195 # probe x coor at furthest right ; (x.position_max - abs(x_offset) - 1)
calibrate_y: 115

#####################################################################
#   Fans
#####################################################################

[fan]
pin: PA0

#####################################################################
#   Misc
#####################################################################

[idle_timeout]
timeout: 900
# gcode:

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[input_shaper]
shaper_freq_x: 55.2 # 53.4 # 56.0 # 56.6 # 55.0 ; recommend accel < 9000
shaper_type_x: mzv
shaper_freq_y: 43.2 # 45.4 # 48.4 ; recommend accel < 5500
shaper_type_y: mzv

[bed_screws]
screw1_name: front left
screw1: 26.5, 31
screw2_name: front right
screw2: 196.75, 31
screw3_name: back right
screw3: 196.75, 201
screw4_name: back left
screw4: 26.5, 201

[screws_tilt_adjust]
screw1_name: center
screw1: 84.50, 135
screw2_name: front left
screw2: 0, 51
screw3_name: front right
screw3: 169.75, 51
screw4_name: back right
screw4: 169.75, 221
screw5_name: back left
screw5: 0, 221
horizontal_move_z: 10
screw_thread: CCW-M4

[output_pin beeper]
pin: PC6
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)

[filament_switch_sensor filament_sensor]
switch_pin: !PA4 # "Pulled-high"
pause_on_runout: True
insert_gcode:
    M117 Insert Detected
    { action_respond_info("Insert Detected") }
runout_gcode:
    M117 Runout Detected
    { action_respond_info("Runout Detected") }
    CONDITIONAL_BEEP i=3 dur=300 freq=400

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.273
#*# pid_ki = 3.049
#*# pid_kd = 70.256
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.629
#*# pid_ki = 1.338
#*# pid_kd = 854.657
#*#
#*# [probe]
#*# z_offset = 1.635
#*#
#*# [bed_mesh personalPreEdit]
#*# version = 1
#*# points =
#*# 	-0.147188, -0.085313, -0.033906, -0.025469, -0.035000
#*# 	-0.163594, -0.095313, -0.027344, -0.014219, -0.057813
#*# 	-0.187500, -0.087188, -0.030938, -0.019375, -0.063594
#*# 	-0.179844, -0.080625, -0.012813, -0.013750, -0.061406
#*# 	-0.126094, -0.026250, 0.033594, 0.030781, -0.010000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 5.0
#*# max_y = 203.0
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.077500, -0.013594, -0.063906
#*# compensation_start_x = 27.0
#*# compensation_end_x = 195.0
#*#
#*# [bed_mesh oldBed]
#*# version = 1
#*# points =
#*# 	0.004384, -0.020865, -0.050803, -0.081005, -0.130833
#*# 	-0.029366, -0.045709, -0.062678, -0.087255, -0.143646
#*# 	-0.062178, -0.050084, -0.070178, -0.089755, -0.141302
#*# 	-0.073897, -0.061647, -0.068459, -0.097411, -0.140521
#*# 	-0.023428, -0.003678, -0.016740, -0.038661, -0.074427
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 6.0
#*# max_y = 203.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh default-1]
#*# version = 1
#*# points =
#*# 	0.064072, 0.056166, 0.013885, -0.037724, -0.108646
#*# 	-0.004366, 0.010228, -0.014865, -0.052255, -0.146458
#*# 	-0.056866, -0.035553, -0.060959, -0.100536, -0.174583
#*# 	-0.058584, -0.032897, -0.060490, -0.103661, -0.161146
#*# 	0.005166, 0.040853, 0.011541, -0.038505, -0.105365
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 6.0
#*# max_y = 203.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh default--2]
#*# version = 1
#*# points =
#*# 	0.006259, 0.025228, 0.005135, -0.034442, -0.093021
#*# 	-0.042022, -0.010084, -0.016428, -0.049755, -0.153802
#*# 	-0.084834, -0.040240, -0.055022, -0.087567, -0.169896
#*# 	-0.080928, -0.039615, -0.053928, -0.092099, -0.131771
#*# 	-0.011866, 0.035697, 0.024666, -0.020224, -0.100208
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 6.0
#*# max_y = 203.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.044939, 0.007351, 0.042765, 0.024199, -0.021250
#*# 	-0.103689, -0.030149, 0.016984, 0.022324, -0.043594
#*# 	-0.157907, -0.070149, -0.024266, -0.022676, -0.068750
#*# 	-0.162751, -0.066399, -0.018954, -0.018613, -0.044062
#*# 	-0.097282, 0.014694, 0.053390, 0.045605, 0.008594
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 6.0
#*# max_y = 203.0
